<div class="card-panel hoverable grey lighten-3">
	<div class="container bg-success">
		<h3 class="truncate">Ask a Question, Get an Answer!</h3>
		<ul class="collection">
			<li class="collection-item truncate">
			<!-- if Meteor.user() !== Presentation.owner() -->
			<span>Building Tech Communities through Authentic Engagement – Alim S. Gafar</span>
			<!-- else -->
			<span><input type="text" name="text" value="Building Tech Communities through Authentic Engagement – Alim S. Gafar" /></span>
			</li>
			<!-- endif -->
			<li class="collection-item truncate">Perfect Timing: Buy Low, Sell High with AI Signal Support – Alim S. Gafar <span><a class="btn btn-small btn-floating"><i class="material-icons">remove</i></a></a>
</div></li>
			<li class="collection-item truncate">Getting Back to the Future with The Power of Love – Alim S. Gafar <span><a class="btn btn-small btn-floating"><i class="material-icons">remove</i></a></span></li>
			<li class="collection-item truncate">Lost in Place – Tom Cruise <a class="btn btn-small btn-floating"><i class="material-icons">remove</i></a></li>
		</ul>
	</div>
	<another></another>
	<lastly></lastly>
</div>